<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>FastCGI sample code of perl</title>
        <link href="../css/main.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="brown">
        <div id="container">
            <h1>FastCGI sample code of Perl</h1>
            <p>using CGI::Application & CGI::Fast</p>
            <a href="./?rm=result">Run Mode Change</a>
        </div>
    </body>
</html>
